{
  "printWidth": 100,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "all",
  "bracketSpacing": true,
  "semi": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "importOrder": [
    "^@angular/(core|common|router|cdk|material|forms|animations|platform-browser)",
    "^@ng",
    "^@smarttwin",
    "^@app",
    "^@ui",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "classProperties"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
